@{
    ViewData["Title"] = "Home Page";
}

@section scripts{
    <script src="~/lib/views/Home/Index.js"></script>
}

<h1>Halcyon Api Browser</h1>
<div data-hr-controller="halcyonbrowser">
    <h2>Data</h2>
    <ol data-hr-model="data" data-hr-model-component="dataProperty"></ol>
    <h2>Links</h2>
    <ol data-hr-model="links" data-hr-model-component="linksComponent"></ol>
    <h2>Embedded Data</h2>
    <div data-hr-model="embeds" data-hr-model-component="embedsComponent"></div>
</div>

<template data-hr-component="subBrowser">
    <h4>Data</h4>
    <ol data-hr-model="data" data-hr-model-component="dataProperty"></ol>
    <h4>Links</h4>
    <ol data-hr-model="links" data-hr-model-component="linksComponent"></ol>
    <h4>Embedded Data</h4>
    <div data-hr-model="embeds" data-hr-model-component="embedsComponent"></div>
    <hr />
</template>

<template data-hr-component="dataProperty">
    <li>
        {{key}} - {{value}}
    </li>
</template>

<template data-hr-component="linksComponent">
    <li>
        <a href="{{href}}">{{rel}}</a>
    </li>
</template>

<template data-hr-component="embedsComponent">
    <div data-hr-model="items" data-hr-model-component="subBrowser"></div>
</template>